body {
    background-color: rgb(238, 230, 230);
    justify-content: center;

}

h1 {
    font-weight: bolder;
    font-size: xx-large;
}

.about-me {
    font-weight: bolder;
    text-decoration: underline;
    font-size: larger
    

}

.mySkills {
    font-weight: bolder;
    text-decoration: underline;
    font-size: larger
    
}

.projects {
    font-weight: bolder;
    text-decoration: underline;
    font-size: larger
    
}